__pycache__
data/figures
data/formulas
data/metadata
data/output
presentation-app_two/node_modules
presentation-app_two/node_modules/*
presentation-app_two/node_modules/*
presentation-app_two/build
presentation-app_two/public/figures
presentation-app_two/public/formulas
presentation-app_two/public/metadata
presentation-app_two/public/output
presentation-app_two/package-lock.json
.env
__pycache__/app.cpython-312.pyc
__pycache__/*
.DS_Store
data/output/generated_presentation.pptx
