MISTRAL_API_KEY=USER API MISTRAL_API_KEY
MODEL_NAME=mistral-small-latest
# NUM_SLIDES=10
EXECUTION_AGENT_ID=ag:b3a9e6f1:20250329:execution-agent:8bfa62a0
MODEL_NAME_OCR=mistral-ocr-latest
ENHANCE_AGENT_ID=ag:b3a9e6f1:20250403:untitled-agent:e4afc82a

SERVER_HOST=0.0.0.0
SERVER_PORT=8000

#and pls rename the file name as .env